<div data-role="view" data-title="Home View" data-layout="main" data-model="app.home" data-show="app.home.onShow" data-after-show="app.home.afterShow" id="homeScreen" class="screen">

    <head>
        <title></title>
        <style>
            body {
              color: #fff;
              background-color: #000;
              background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
            }
        </style>
    </head>
    <body>
        <div id="back-button">
            <div id="bar" data-role="view">
              <a href="components/home/home.html">Back</a>
</div>
        </div>
        
        Happy.
        <script>
        var app = new kendo.mobile.Application();
        </script>

    </body>
</div>