<div data-role="view" data-title="Home View" data-layout="main" data-model="app.home" data-show="app.home.onShow" data-after-show="app.home.afterShow" id="homeScreen" class="screen">

    <!-- START_CUSTOM_CODE_home -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <div style="width: 80%;margin: 0 auto;text-align:center;">
        </br><span style="color:white;font-size: 24pt;margin-left:auto;">Select Your Mood</span>
    </div>
    <div id="mood-container">
        <a href="components/home/happy.html"><img class="e-faces" src="components/home/happy_e.png" /></a>
        <a href="components/home/sad.html"><img class="e-faces" src="components/home/sad_e.png" /></a>
        <a href="components/home/anxious.html"><img class="e-faces" src="components/home/anxious_e.png" /></a>
        <a href="components/home/idk.html"><img class="e-faces" src="components/home/none_e.png" /></a>
    </div>
</div>
<!-- END_CUSTOM_CODE_home -->
</div>