<div data-role="view" data-title="Questions" data-layout="main" data-model="app.questions" data-show="app.questions.onShow" data-after-show="app.questions.afterShow" id="questionsScreen" class="screen">
    <div id="questionsModel" class="form-view screen__content screen__content--form add-item-view">
        <form>
            <ul class="form-content" data-role="listview" data-style="inset">
                <li class="form-content-item">


                    <label id="nameField" class="field field--text">
                        <span class="field__label">Name</span>


                        <input id="name" data-bind="value: addFormData.name" placeholder="What is your name?" type="text">

                    </label>
                </li>
                <li class="form-content-item">


                    <label id="nicknameField" class="field field--text">
                        <span class="field__label">Nickname</span>


                        <input id="nickname" data-bind="value: addFormData.nickname" placeholder="How would you like to be called?" type="text">

                    </label>
                </li>
                <li class="form-content-item">


                    <label id="colourField" class="field field--text">
                        <span class="field__label">Colour</span>


                        <input id="colour" data-bind="value: addFormData.colour" placeholder="What is your favourite colour?" type="text">

                    </label>
                </li>
                <li class="form-content-item">
                    <label id="dropdownlistField" class="field field--drop-down">

                        <span class="field__label">Do you prefer face images or text for illustrating emotions?</span>
                        <select data-bind="value: addFormData.dropdownlist" data-role="dropdownlist">
                            <option value="Face images">Face images</option>
                            <option value="Text">Text</option>
                        </select>
                    </label>
                </li>
            </ul>

            <div class="button-group">
                <a data-role="button" data-bind="events: { click: questionsModel.cancel }">Cancel</a>
                <a class="primary" data-role="button" data-bind="events: { click: questionsModel.submit }">Confirm</a>
            </div>
        </form>
        <!-- START_CUSTOM_CODE_questionsModel -->
        <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

        <!-- END_CUSTOM_CODE_questionsModel -->
    </div>

    <!-- START_CUSTOM_CODE_questions -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_questions -->
</div>